 <!--div para delimitar o espaço-->
 <div class="div-principal-01">
    <!--header cabeçalho-->
    <header class="container-header">
        <div class="item01-header">
            <h1>ArPuro</h1>
        </div>
        <div class="item02-header">
            <ul>
                <li>Home</li>
                <li id="distancia-list">Sobre-nós</li>
                <li>Contato</li>
            </ul>
        </div>
        <div class="item03-header">
            <ul>
                <li id="ld-destaque-list">login</li>
                <li id="destaque-list">Cadastre-se</li>
            </ul>
        </div>
    </header>

    <!--Parte principal-->
    <section class="container-apresentacao">
        <div class="item01-apresentacao">
            <img src="../../assets/imgPrincipal.svg" alt="">
        </div>
        <div class="item02-apresentacao">
            <h2>Ar Puro,<br>Vida Saudável</h2>
            <p>Monitore a qualidade do ar<br> 
                em sua região e respire com<br> 
                confiança, cuidando da sua<br> 
                saúde a cada instante.</p>
            <button>Consultar Agora</button>
        </div>
    </section>
</div>