<div id="divisoria-apre"></div>
<div id="divisoria-pequena"></div>

<div class="div-principal-02">
    <h2>Sobre-nós</h2>
    <section class="sobre-nos">
        <p>ㅤO projeto Ar-Puro foi desenvolvido pelos estudantes do 4º período de Engenharia de Software da Universidade Unifio. Nosso objetivo é criar uma plataforma que permita monitorar a qualidade do ar em diferentes regiões, proporcionando informações essenciais para aqueles que necessitam de um cuidado especial com a saúde respiratória. Inspirados pela responsabilidade social e pelo impacto da tecnologia no bem-estar, estamos comprometidos em oferecer uma ferramenta confiável, acessível e de fácil utilização.</p>
    </section>

    <div id="divisoria-pequena"></div>

    <section class="container-depoimento-fora"> 
        <h2>Histórias de Quem Respira Melhor</h2>
        <div class="container-depoimento-dentro">

            <div class="depoimento-dentro">
                <section class="item-depoimento">
                    <div class="depo-part1">
                        <div class="imagem-depoimento"><img src="" alt=""></div>
                        <h3>Maria Clara</h3>
                    </div>
                    <div class="depo-part2">
                        <img src="../../assets/estrela.svg" alt="">
                        <p>"Com o ArPuro, consigo saber a qualidade do ar antes de sair de casa. Como tenho problemas respiratórios, essa ferramenta tem sido essencial para minha saúde!"</p>
                    </div>
                </section>
            </div>

            <div class="depoimento-dentro" id="teste">
                <section class="item-depoimento">
                    <div class="depo-part1">
                        <div class="imagem-depoimento"><img src="" alt=""></div>
                        <h3>Carlos Mendes</h3>
                    </div>
                    <div class="depo-part2">
                        <img src="../../assets/estrela.svg" alt="">
                        <p>"Agora fico tranquilo ao planejar passeios com minha família. Saber como está o ar na minha cidade faz toda a diferença!"</p>
                    </div>
                </section>
            </div>

            <div class="depoimento-dentro">
                <section class="item-depoimento">
                    <div class="depo-part1">
                        <div class="imagem-depoimento"><img src="" alt=""></div>
                        <h3>Mariana Oliveira</h3>
                    </div>
                    <div class="depo-part2">
                        <img src="../../assets/estrela.svg" alt="">
                        <p>"O ArPuro se tornou uma parte importante do meu dia a dia. Monitorar a qualidade do ar é fundamental para quem, como eu, tem asma."</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="contato">
        <h3>Quer saber mais ou precisa de ajuda? Fale com a gente!</h3>
        <p>ㅤEstamos aqui para responder a todas as suas dúvidas e receber sugestões. Sua opinião é muito importante para nós! Entre em contato e ajude-nos a tornar o Ar-Puro cada vez melhor para você.</p>
        <input value="Retorno rápido garantido!" type="text" name="" id="">
    </section>
</div>

<footer class="footer">
    <p>© 2024 ArPuro. Todos os direitos reservados.</p>
</footer>
